.display-container {
  background-color: rgb(240, 240, 240);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 10px 10px 10px gray;
}

.top-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 70rem;
}

.add-patient-btn {
  display: block;
  text-align: center;
  padding: 1px 10px;
  border-radius: 10px;
  border: 0px;
  margin: 10px;
  background-color: rgb(104, 104, 212);
  color: white;
}
.add-patient-btn:hover {
  background-color: rgb(89, 89, 176);
}
