

.database-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(172, 172, 172);
    height: 100vh;

}

.basic-search-bar{
    width: 50rem;
    margin: 0.5rem;
}

.display-container{
    background-color: rgb(240, 240, 240);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 10px 10px 10px gray;
}

.top-container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 60rem;
}



.add-patient-btn{
    display: block;
    text-align: center;
    padding: 1px 10px;
    border-radius: 10px;
    border: 0px;
    margin: 10px;
    background-color: rgb(104, 104, 212);
    color: white;
}
.add-patient-btn:hover{
    background-color: rgb(89, 89, 176);
}

.data-sheet-container{
    display: grid   ;
    grid-template-columns: auto auto auto auto auto auto ;
    border: 2px solid rgb(192, 192, 192);
    border-radius: 3px;
    width: 60rem;
}

.table-header,.table-header-span2 {
    border-bottom: 1px solid black;
    padding: 1rem;
    min-height: 3.5rem;
}


.data-item, .span-2{
    padding: 0.5rem 2rem;
}
.span-2, .table-header-span2{
    grid-column: span 2;
}
.options{
    background-color: rgb(224, 224, 224);
    border: 1px solid black;
    margin: 0.2rem;
    border-radius: 3px;
    font-size: 12px;
}

.options:hover{
    background-color: rgb(184, 184, 184);
}


.option-container{
    padding: 0.2rem;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
