@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scale-60 {
    --tw-scale-x: 0.65;
    --tw-scale-y: 0.65;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .text-xxl {
    @apply text-4xl;
  }

  .text-pastelpurple {
    color: rgb(104, 104, 212);
  }
  .bg-pastelpurple {
    background-color: rgb(104, 104, 212);
  }
  .icons-btn {
    @apply rounded-full;
    @apply drop-shadow-lg;
    @apply transition;
    transition-duration: 300ms;
    @apply ease-in-out;
    @apply p-2;
    @apply m-1;
  }
  .add-input {
    border: 1rem;
    @apply bg-slate-200;
    @apply focus:bg-slate-300;
    @apply rounded-sm;
    @apply mx-2;
    @apply p-1;
  }
  .text-btn {
    @apply bg-pastelpurple;
    @apply hover:bg-violet-800;
    @apply text-white;
    @apply rounded-sm;
    @apply px-4;
    @apply py-2;
    @apply text-center;
  }

  .data-cell,
  .action-cell,
  .data-cell-center {
    @apply p-6;
    @apply w-60;
  }

  .data-cell,
  .data-cell-center {
    @apply text-nowrap;
  }

  .action-cell {
    @apply flex;
    @apply align-baseline;
    @apply border;
    @apply border-slate-200;
    border-image: linear-gradient(to left, rgb(8, 145, 178), rgba(0, 0, 0, 0)) 0
      1 100%;
    @apply py-4;
    @apply my-1;
  }

  .table-format {
    @apply border-cyan-600;
    @apply border;
    @apply border-collapse;
  }

  .open-add-form-btn {
    @apply lg:float-right;
    @apply text-white;
    @apply rounded-md;
    @apply text-center;
    @apply bg-pastelpurple;
    @apply hover:bg-violet-800;
    @apply md:mb-4;
    @apply mt-0;
    @apply px-4;
    @apply py-2;
  }

  .page-container {
    @apply p-8;
    @apply bg-slate-100;
  }
  .page-header-container {
    @apply container;
    @apply mx-auto;
    width: 80rem;
    padding: auto;
  }
  .database-title {
    @apply float-left;
    @apply text-pastelpurple;
  }

  .table-header,
  .table-header-center {
    border-bottom: 1px solid black;
    color: white;
    padding: 1rem;
    min-height: 3.5rem;
    background-color: rgb(101, 101, 225);
    cursor: default;
  }
  .patient-details-container-lg {
    min-width: 68rem;
  }
  .patient-details-container-xl {
    min-width: 75rem;
  }
  .patient-details-cell {
    @apply mx-1;
    @apply lg:w-40;
    @apply xl:w-52;
    @apply px-2;
    @apply py-1;
    @apply bg-slate-200;
    @apply rounded-lg;
    @apply float-right;
    @apply text-clip;
    @apply break-words;
  }
  .form-date-margin {
    margin-right: 100px;
  }
  .form-amount-margin {
    margin-right: 42px;
  }
}
