@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-xxl {
    @apply text-4xl;
  }

  .text-pastelpurple {
    color: rgb(104, 104, 212);
  }
  .bg-pastelpurple {
    background-color: rgb(104, 104, 212);
  }
  .icons-btn {
    @apply rounded-full;
    @apply drop-shadow-lg;
    @apply p-2;
    @apply m-1;
  }
  .add-input {
    border: 1rem;
    @apply bg-slate-200;
    @apply focus:bg-slate-300;
    @apply rounded-sm;
    @apply mx-2;
    @apply p-1;
  }
  .text-btn {
    @apply bg-pastelpurple;
    @apply hover:bg-violet-800;
    @apply text-white;
    @apply rounded-sm;
    @apply px-4;
    @apply py-2;
    @apply text-center;
  }

  .data-cell,
  .action-cell,
  .data-cell-center {
    @apply p-6;
    @apply w-60;
  }

  .data-cell,
  .data-cell-center {
    @apply text-nowrap;
  }

  .action-cell {
    @apply flex;
    @apply align-baseline;
    @apply border;
    @apply border-slate-300;
    @apply py-3;
  }

  .table-format {
    @apply table-auto;
    @apply mx-auto;
    @apply border-cyan-600;
    @apply border;
    @apply border-collapse;
  }

  .open-add-form-btn {
    @apply float-right;
    @apply text-white;
    @apply rounded-sm;
    @apply text-center;
    @apply bg-pastelpurple;
    @apply hover:bg-violet-800;

    @apply mb-4;
    @apply mt-0;
    @apply px-4;
    @apply py-2;
  }

  .page-container {
    @apply p-8;
    @apply bg-slate-100;
  }
  .page-header-container {
    @apply container;
    @apply mx-auto;
    padding: auto;
  }
  .database-title {
    @apply float-left;
    @apply text-pastelpurple;
  }

  .table-header,
  .table-header-center {
    border-bottom: 1px solid black;
    color: white;
    padding: 1rem;
    min-height: 3.5rem;
    background-color: rgb(101, 101, 225);
    cursor: default;
  }
}
